################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/10Lesson/CountWhiteSpaceInFile/.vs/CountWhiteSpaceInFile/CopilotIndices/17.14.1231.31060
/10Lesson/CountWhiteSpaceInFile/obj
/10Lesson/CountWhiteSpaceInFile/.vs/CountWhiteSpaceInFile
